.classy {
  font-family: 'Gothic A1', sans-serif;
  color: #ffffff;
  font-size: 20px;
}

body {
background-color: #435a7a;
font-family: 'Gothic A1', sans-serif;
color: #ffffff;
}

.special {
  color: #93a6c1;
