.classy {
  font-family: 'Gothic A1', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background-color: #23443d;
  text-align: left;
}

body {
background-color: #4b7f74;
font-family: 'Gothic A1', sans-serif;
color: #ffffff;
text-align: center;
}

.header {
  color: #ebf2c4;
}

.header1 {
  color: #ebf2c4;
  font-size: 50px;
}

.special {
  color: #93a6c1;
}
